<h2><font color ="white">S'enregistrer</font></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><font color="white"><%= f.label :email %><br /></font>
  <%= f.email_field :email, autofocus: true %></div>

  <div><font color="white"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br /></font>
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><font color="white"><%= f.label :password_confirmation %><br /></font>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "S'enregister" %></div>
<% end %>

<%= render "devise/shared/links" %>
