<%= form_for @book, html: { multipart: true } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><font color="white">
    <%= f.label :titre %><br>
	</font>
    <%= f.text_field :title %>
	
  </div>

  <div class="field"><font color="white">
    <%= f.label :description %><br>
	</font>
    <%= f.text_area :description %>  
  </div>

  <div class="field"><font color="white">
    <%= f.label :longueur %><br>
	</font>
    <%= f.text_field :length %>
	
  </div>

  <div class="field"><font color="white">
    <%= f.label :auteur %><br>
	</font>
    <%= f.text_field :author %>
	
  </div>

  <div class="field"><font color="white">
    <%= f.label :style %><br>
</font>
    <%= f.text_field :style %>
	
  </div>

  <div class="field">
	<font color="white">
	<%= f.label :image %><br>
	
	<%= f.file_field :image %>
	</font>

  <div class="actions">
    <%= f.submit %>

  </div>

<% end %>
