<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-md-4">
<%=image_tag @book.image.url(:medium) %>


<div class="star-rating" data-score= <%=@avg_review%></div>
	<em><%="#{@reviews.length} notes"%></em>

<div class="table-responsive">
<table class="table">
<tbody>
<tr>
<td><strong>Titre:</strong></td>
<td><%= @book.title %></td>
</tr>
<tr>
<td><strong>Description:</strong></td>
<td><%= @book.description %></td>
</tr>
<tr>
<td><strong>Logueur:</strong></td>
<td><%= @book.length%></td>
</tr>
<tr>
<td><strong>Auteur:</strong></td>
<td><%= @book.author %></td>
</tr>
<tr>
<td><strong>Style</strong></td>
<td><%= @book.style %></td>
</tr>
</tbody>
</table>
<%= link_to "Noter/Commenter", new_book_review_path(@book) %>
</div>
</div>
<div class="col-md-7.col-md-offeset-1">
<h1 class="review_title"><%= @book.title %></h1>
<p><%= @book.description %></p>
<% if@reviews.blank? %>
	<h3> Pas encore de notes/commentaires, voulez vous ajoutez le/la premier/première ?</h3>
	<%= link_to "Noter/Commenter", new_book_review_path(@book), class:"btn btn-danger" %>
	<% else %>
	<% @reviews.each do |review| %>
	<div class="reviews">
		<div class="star-rating" data-score= <%=review.rating %> ></div>
	
	<p><%= review.comment %></p>
	</div>
	<% end %>
	<% end %>
</div>
</div>
</div>
</div>
<%= link_to 'Editer', edit_book_path(@book) %> |
<%= link_to 'Retour', books_path %>

<script>
$('.star-rating').raty({
path: '/assets/',
readOnly: true,
score: function() {
return $(this).attr('data-score');
}
});
</script>
